* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-y: scroll;

}
selector:pseudo-class {
}
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(10, 7, 7);
  height: 120px;
  text-align: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.logo {
  display: flex;
  padding: 0;
}
.co {
  padding-left: 10px;
}
.logo p {
  color: white;
  font-size: 30px;
  /* padding-left: 20px; */
}

.las p {
  color: white;
}
.logo i {
  color: orangered;
  font-size: 50px;
}
.left a:hover {
  text-decoration: underline;
}
span a {
  text-decoration: none;
  padding: 50px;
  color: white;
}
span a:hover {
  color: white;
}

span a:first-child {
  color: orangered;
}
span a:last-child {
  background-color: orangered;
  color: white;
}

/* tire section */
#tire {
  padding-top: 200px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}


.tire {
  width: 500px;
}
.em1 i {
  padding-left: 0px;
  color: orangered;
  font-size: 40px;
}
.fig img {
  height: 60vh;
  padding-top: 20%;
}
.w {
  color: orangered;
  font-size: 30px;
}
.u {
  font-size: 25px;
}
#b {
  color: black;
  font-size: 50px;
  font-weight: 500;
}
h1 {
  color: orangered;
  font-size: 30px;
  padding-right: 4px;
}
.construct {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px 30px;
  padding-right:17%;

}
p {
  color: black;
  font-size: 30px;
}

/* team1 */

#team1 {
  background-image: url(images/wel\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.479);
  height: 70vh;
  z-index: 0;
}
.team1 {
  text-align: center;
  padding-top: 20px;
}
#d {
  color: orangered;
  font-size: 30px;
  font-style: oblique;
}
.s {
  color: white;
  font-size: 60px;
}
.case2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
#hi {
  color: orangered;
  font-size: 50px;
  font-weight: 600;
  border-bottom: 2px solid gainsboro;
  padding-top: 30px;
}
.subcase1 {
  width: 250px;
  box-shadow: 0px 8px 10px 20px;
  height: 30vh;
  text-align: center;
  padding-top: 20px;
  background-color: transparent;
}
#e {
  color: white;
  padding-top: 30px;
}
.subcase1:hover {
  background-color: white;

  #e {
    color: black;
  }
}

/* #team2 */
#team2 {
  padding-top: 100px;
  width: 50%;
  position: relative;
  left: 25%;
  box-shadow: 0px 2px 6px;
  z-index: 2;
}
.team2 {
  text-align: center;
}
#f {
  color: orangered;
}
#i {
  width: 97%;
  text-align: center;
  color: white;
}
#g {
  font-size: 50px;
  padding-bottom: 10px;
}
#subteam2 {
  background-color: rgba(0, 0, 0, 0.842);
  text-align: center;
  width: 90%;
  position: relative;
  left: 5%;
  padding-top: 50px;
  height: 50vh;
}
.subteam2 {
  padding-top: 10px;
}
.subteam2 img {
  width: 150px;
  height: 15vh;
  border-radius: 50%;
  position: relative;
  bottom: 100px;
}
.left i {
  position: relative;
  background-color: orangered;
  width: 50px;
  height: 5vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 310px;
  left: 3%;
}

.right i {
  color: white;
  position: relative;
  background-color: orangered;
  width: 50px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 370px;
  left: 92%;
}

/* #team3  section*/

#team3 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.897);
  justify-content: space-between;
  height: 43vh;
  position: relative;
  top: 30px;
}
#cll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.figure22 img {
  z-index: 3;
  padding-left: 20px;
  width: 550px;
}

.call {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideX 12s infinite ease-in-out;
  align-items: center;
}

.call:nth-child(1) {
  animation-delay: 0s;
}
.call:nth-child(2) {
  animation-delay: 4s;
}
.call:nth-child(3) {
  animation-delay: 8s;
}

@keyframes slideX {
  0% {
    opacity: 0;
    transform: translateX(100%);
    z-index: 1;
  }
  10%,
  30% {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
  }
  40% {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 1;
  }
}
#h1 {
  font-size: 30px;
  padding-left: 20px;
}
#dim {
  color: white;
  font-size: 30px;
}
#cas {
  color: white;
}

/* team4 */
 #team4 {
  padding-top: 5%;
  width: 98%;
}
.team4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.css {
  height: 60vh;
  width: 90%;
} 
.vas {
  background-color: cadetblue;
  height: 70px;
  padding-top: 20px;
}
.vas:hover {
  background-color: orangered;
  color: white;
}
.vas1 {
  background-color: cadetblue;
  height: 70px;
  padding-top: 20px;
}
.vas1:hover {
  background-color: orangered;
  color: white;
}
.vas3 {
  background-color: cadetblue;
  height: 70px;
  padding-top: 20px;
}
.vas3:hover {
  background-color: orangered;
  color: white;
}
.css {
  width: 40%;
}
.figure img {
  width: 100%;
  height: 60vh;
}

/* team4 section */

#team4 {
  height: 90vh;
}
#run {
  background-color: orangered;
  height: 80px;
  color: white;
  padding-top: 20px;
}
#brown {
  background-color: black;
  color: white;
  height: 30vh;
  padding-top: 50px;
}

.figure img {
  position: relative;
  right: 100px;
}

/* section of footer */
#footer {
  background-color: rgb(10, 7, 7);
  display: block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0px;
}
.bas p {
  color: white;
  font-size: 40px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 10vh;
  padding: 10px;
}
#hhr {
  background-color: white;
  color: gray;
  font: 600;
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.ema {
  text-align: center;
  padding-right: 100px;
  align-content: center;
}
#hhr:hover,
#hhr:focus {
  outline: 2px solid orangered;
  background-color: #faf6f6;
  color: white;
  width: 500px;
  transition: all 0.3s;
}

#ha {
  background-color: orangered;
  color: black;
  font-size: 15px;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
#ha:hover {
  background-color: black;
  color: white;
}
.location {
  display: flex;
  justify-content: space-evenly;
}
#vam {
  color: orangered;
  text-align: center;
  font-size: 30px;
}
#vat {
  font-size: 20px;
  text-align: center;
  color: white;
  font-size: 25px;
}
#log {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.log1 {
  display: flex;
}
.log1 i {
  font-size: 40px;
  color: orangered;
}
.log2 a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: orangered;
}
.log2 a:hover {
  text-decoration: underline;
  color: white;
}
.log2 a:link {
  color: blue;
}
.log2 a:visited {
  color: gainsboro;
}
.loc1 {
  width: 200px;
  height: 20vh;
  border-right: 5px solid white;
  box-sizing: border-box;
  text-align: center;
}
#sim {
  font-size: 30px;
  font-family: sans-serif;
  padding-left: 10px;
  color: white;
}
#log {
  height: 10vh;
}
.log3 i {
  padding: 10px;
  font-size: 30px;
  background-color: white;
  color: orangered;
  border-radius: 20px;
}
.log3 i:hover {
  border-radius: 50%;
  color: rgb(29, 29, 54);
  background-color: orangered;
}
.log3 i:link {
  color: red;
}
.log3 i:visited {
  color: green;
}
.copy {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
#copy {
  font-size: 20px;
  color: orangered;
  font-style: oblique;
  padding-top: 20px;
}
#copy1 {
  font-size: 20px;
  color: white;
}
#cf {
  font-size: 20px;
  font-style: oblique;
  color: orangered;
  padding-top: 20px;
}
.back-to-top {
  position: fixed;
  bottom: 60px;
  right: 30px;
  background-color: #f44336;
  color: white;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 18px;
  text-decoration: none;
  z-index: 100;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Responsive styles for mobile phones */
@media screen and (max-width: 768px) {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
  }

  selector::pseudo-class {
  }

  #navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    position: inherit;
  }
  .logo {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .left span a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
  }

  /* tire section */

  #tire {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    padding-top: 100px;
  }
  .tire,
  p:nth-child(2) {
    width: 100%;
    padding-left: 5%;
  }
  .construct {
    display: grid;
    grid-template-columns: auto;
    padding-left: 10%;
  }

  /* team 1 */

  #team1 {
    height: 90vh;

  }
  .team1{
    padding-top: 100px;
  }

  .subcase1{
    width: 100%;
    height: 35vh;
  }
  .case2 {
    display: flex;
    box-sizing: border-box;
    gap: 20px 10px;
    height: 70vh;
  }



  /* team2 section */
  #team2 {
    width: 100%;
    position: relative;
    left: 0%;
    top: 60px;
    height: inherit;
  }
  #subteam2 {
    padding-bottom: 00px;
    height: 500px;
    z-index: 0;
    height: 70vh;
  }
  .subteam2{
    height: 130vh ;
  }

  .subteam2 img {
    z-index: 10;
    position: relative;
    bottom: 0%;
    width: 50%;
  }
  .left i {
    position: relative;
    background-color: orangered;
    width: 50px;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 310px;
    left: 3%;
  }

  .right i {
    color: white;
    position: relative;
    background-color: orangered;
    width: 50px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 370px;
    left: 92%;
  }

  /* <!-- section id team3 --> */
  #team3 {
    display: block;
    height: 75vh;
  }

  #team3 img {
    position: relative;
    left: -1%;
    width: 100%;
  }




  /* <!-- section 4 --> */

 #team4 {
  padding-top: 15%;
  height: 900px;
  
}
.team4 {
  display: block;
  flex-direction: column;
  width: 440px;

  text-align: center;
  margin: auto;
  width: 100%;
}
.css {
  height: 100vh;
  width: 100%;
  padding-left: 15px;
} 
.vas {
  background-color: cadetblue;
  height: 100px;
  padding-top: 20px;
}
.vas:hover {
  background-color: orangered;
  color: white;
}
.vas1 {
  background-color: cadetblue;
  height: 100px;
  padding-top: 20px;
}
.vas1:hover {
  background-color: orangered;
  color: white;
}
.vas3 {
  background-color: cadetblue;
  height: 100px;
  padding-top: 20px;
}
.vas3:hover {
  background-color: orangered;
  color: white;
}
.css {
  width: 100%;
}

#mall,#run,#dim{
  font-size: 19px;
}
#brown{
   font-size: 20px;
   padding-left: 0px;
   height: 140px;
   
   
 }

     #ha {
    width: 20% ;
    left: 0 ;
    font-size: 16px;
    margin: 10px 0;
  }


 /* footer section */
  #footer, .top, .copy, #log, .location {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px ;
    height: auto;
    padding: 10px 0;
    width: 100%;
  }

  .log2 {
    display: flex;
    padding: 10px;
    gap: 10px 20px;
  }

  #footer{
    position: relative;
  }
 #hhr{
    background-color: transparent;
    color: white;
    padding-left: 10px;
  }

  #ha{
  position: relative;
  top: 9px;
  }

  .ema {
    padding-right: 0;
  }
    .loc1 {
    /* width: 100%; */
    border-right: none;
    border-bottom: 2px solid white;
    height: auto;
    margin-bottom: 10px;
  }
  #sim, #vat, #vam, #copy, #copy1, #cf {
    font-size: 16px;
    padding: 0;
  }
  .back-to-top {
    right: 10px;
    bottom: 10px;
    padding: 8px 10px;
    font-size: 16px;
  }
     #ha {
    width: 20% ;
    left: 0 ;
    font-size: 16px;
    margin: 10px 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
     #navbar {
    flex-direction: row;
    height: auto;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  *{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
  }
  .logo {
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
  }

  span a, .log2 a {
    display: inline-block;
    padding: 20px 10px;
    font-size: 20px;
    text-align: center;
  }

 /* tire section */
  #tire{
     display: block;
     width: 100%;
     text-align: center;
  }

  .construct{
   
  }

  .emi i{
    color: orangered;
    font-size: 40px;
  }


  /* team2 */
 #team2{
  margin: auto;
  position: relative;
  left: 5px;
  width: 90%;
 }


 #subteam2{
 position:relative;
 left: 0px;
 }
 .left i {
    position: relative;
    background-color: orangered;
    width: 50px;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 310px;
    left: 3%;
    
  }

  .right i {
    color: white;
    position: relative;
    background-color: orangered;
    width: 50px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 370px;
    left: 92%;
  }


   /* <!-- section id team3 --> */

   #team3{
    height: 45vh
   }
  .figure22 img{
    height: 40vh;
    width:100%
  }

  .call{
    padding-top: 60px;
  }


  /* <!-- section 4 --> */

  #team4{
   height: 130vh;
  }

  .team4{
    display: block;
    
  }

  .css{
    width: 100%
  }

  .figure img{
    position: relative;
    top: 100px;
    right: auto;
  }

 
}